<!DOCTYPE html>
<html>
  <head>
    <title>About Forum</title>
    <link rel="stylesheet" href="/styles.css" />
  </head>
  <body>
    <%- include('base/nav') %>
    <div class="about">
      <h1>About Our App</h1>
      <p>
        This platform transforms PDFs into interactive quizzes using AI. Upload
        a document, and our AI extracts key information to generate personalized
        quizzes. Perfect for students, educators, and anyone looking to learn
        effectively.
      </p>
    </div>
    <%- include('base/footer') %>
  </body>
</html>
